{% extends 'base.html.twig' %}

{% block title %}La Boutique - Home{% endblock %}

{% block isBest %}
    <h3>Nos meilleures ventes</h3>
    <p>Découvrez les articles les plus vendus</p>
	<div class="row">
		{% for product in products %}
			<div class="col-3">
                {% include "product/single_product.html.twig" %}
            </div>
            {% endfor %}
        </div>
{% endblock %}
