{% extends 'base.html.twig' %}

{% block title %}Page introuvable{% endblock %}

{% block content %}
	<div class="container">
        <div class="block-small mt-4">
            <h2>Page introuvable</h2>
            <p>Désolé, cette page ne semble pas accessible pour le moment</p>
            <a href="{{ path('home') }}" class="btn btn-info">Revenir à l'accueil</a>
        </div>
	</div>
{% endblock %}
